.parkDetail > img {
  height: 30vh;
  width: 50vw;
}
.parkDetail > h1 {
  margin: 3vh;
}

.parkDetail > p {
  margin: 3vh 15vw;
  font-size: 1.5vmin;
}

.parkDetail > a {
  margin: 3vh;
  font-size: 1.5vmin;
}

.parkDetail > button:hover {
  background-color: lightgreen;
  color: black;
}


