.parkList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.parkList a {
  text-decoration: none;
  color: black;
}

.parkListDiv h1 {
  margin: 5vmin;
}

.parkListDiv span {
  font-size: 1.5vmin;
}