@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --orange: #F67F00;
  --text-light: #968c84;
  --text-dark: #615954;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

/* .form-container {
  margin: 40vh auto;
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  width: 57vw;
  height: 35vh;
} */

p.error-message {
  color: var(--orange);
  text-align: center;
}

/* form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 1.5vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 1.5vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  /* outline: none;
} */
